{
  "$schema": "https://json.schemastore.org/prettierrc",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 120,
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^@/styles(?:/.*)?$",

    "^react$",
    "^next(?:/.*)?$",
    "<THIRD_PARTY_MODULES>",

    "^@/types(?:/.*)?$",
    "^@/app(?:/.*)?$",

    "^@/actions(?:/.*)?$",
    "^@/services(?:/.*)?$",
    "^@/stores(?:/.*)?$",
    "^@/queries(?:/.*)?$",
    "^@/constants(?:/.*)?$",

    "^@/components(?:/.*)?$",
    "^@/hooks(?:/.*)?$",
    "^@/lib(?:/.*)?$",
    "^@/utils(?:/.*)?$",

    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true
}
