/* popup */
.MuiDialog-container .MuiPaper-root {
  &.bg-include {
    background: #fff url('/image/bg-popup.svg') no-repeat 0 0;
  }
  .popup-icon {
    width: 48px;
    height: 48px;
    @apply mb-5;
  }

  font-family: 'Pretendard', sans-serif;
  padding: 20px;
  padding-top: 35px;
  margin: 0;
  min-width: 400px;
  max-width: 400px;
  border-radius: 12px;
  @apply flex flex-col;
  .ico-popup-close {
    padding: 0 !important;

    @apply absolute right-10 top-10 ml-auto inline-flex items-center justify-center font-semibold text-default-400;
    svg {
      width: 24px;
      height: 24px;
    }
    &:hover {
      background: transparent !important;
    }
  }
  .popup-contents {
    @apply flex min-h-80 flex-col;
  }
  .MuiTypography-root {
    font-family: 'Pretendard', sans-serif;
    font-weight: 600;
    line-height: 28px;
    @apply mb-15 min-h-50 p-0 text-xl text-default-900;
  }
  .MuiDialogContent-root {
    @apply p-0;
    .text {
      @apply text-sm leading-8 text-default-700;
    }
    .popup-btn-wrap {
      @apply mt-20 flex justify-between gap-10;
      button {
        @apply w-1/2;
      }
      .btn-lg {
        @apply w-full;
      }
    }
  }
  input {
    &:focus {
      outline: 1px solid var(--accent-600);
    }
  }
}
