.issues-list {
  @apply grid grid-cols-4 gap-4 rounded-md bg-default-50 p-5;

  .issue {
    @apply relative flex flex-col rounded-md border border-default-200 bg-white px-4 py-3;

    dl {
      dt {
        @apply text-xl font-semibold text-default-700;
      }

      dd {
        @apply font-medium text-default-500;
      }
    }

    .time {
      @apply mt-2 flex justify-end text-4xl font-semibold text-default-900;
    }

    .percent {
      @apply absolute right-4 top-3 flex min-h-[30px] min-w-16 items-center justify-center rounded-full font-semibold;

      &.green {
        border: 1px solid #abefc6;
        background: #ecfdf3;
        color: #067647;
      }

      &.red {
        border: 1px solid #fecdca;
        background: #fef3f2;
        color: #b42318;
      }

      &.orange {
        border: 1px solid #fedf89;
        background: #fffaeb;
        color: #b54708;
      }
    }
  }
}
