.summary-block {
  @apply grid grid-cols-2 justify-between gap-5;

  .summary-left {
    @apply grid grid-cols-[2fr_1fr] gap-5;

    .summary {
      @apply flex rounded-md border border-default-200 bg-white;

      dl {
        @apply relative flex flex-grow flex-col p-5;

        dt {
          @apply font-medium text-default-700;
        }

        dd {
          font-size: 40px;
          letter-spacing: -1px;
          @apply mt-auto flex justify-end font-semibold text-default-900;
        }

        &::before {
          content: '';
          @apply absolute bottom-[15px] left-0 top-[15px] w-[1px] bg-default-200;
        }

        &:first-child {
          &::before {
            display: none;
          }
        }
      }
    }
  }

  .summary-right {
    @apply flex flex-grow flex-col rounded-md border border-accent-300 bg-accent-50 px-3 py-5;

    > p {
      @apply mb-2.5 text-xl font-semibold text-accent-800;
    }

    > div {
      @apply grid grid-cols-2 gap-5;

      dl {
        @apply flex h-[130px] flex-col rounded-md bg-white p-[15px];

        dt {
          @apply text-lg font-medium text-default-700;
        }

        dd {
          @apply mt-auto flex items-end justify-between text-4xl font-semibold text-default-900;

          span {
            @apply flex w-full max-w-20 items-center justify-center rounded-full py-2 text-base font-semibold text-default-700;

            &.green {
              border: 1px solid #abefc6;
              background: #ecfdf3;
              color: #067647;
            }
            &.red {
              border: 1px solid #fecdca;
              background: #fef3f2;
              color: #b42318;
            }
            &.orange {
              border: 1px solid #fedf89;
              background: #fffaeb;
              color: #b54708;
            }
          }
        }
      }
    }
  }
}
